In [1]:
my_integer = 10          
my_float = 20.5          
my_string = "Hello, Jupyter!"
my_boolean = True      


print("Variable Values and Their Types:")
print(f"Integer: {my_integer}, Type: {type(my_integer)}")
print(f"Float: {my_float}, Type: {type(my_float)}")
print(f"String: '{my_string}', Type: {type(my_string)}")
print(f"Boolean: {my_boolean}, Type: {type(my_boolean)}")

Variable Values and Their Types:
Integer: 10, Type: <class 'int'>
Float: 20.5, Type: <class 'float'>
String: 'Hello, Jupyter!', Type: <class 'str'>
Boolean: True, Type: <class 'bool'>

In [9]:
# DAY-2
# List
colors = ["red", "blue", "green", "yellow", "purple"]
print(colors[1])  
print(colors[3])  
colors[2] = "cyan"
print(colors)  
print(colors[2:])

blue
yellow
['red', 'blue', 'cyan', 'yellow', 'purple']
['cyan', 'yellow', 'purple']

In [11]:
#DAY-2
# Dictionary
person = {
    "name": "Alice",
    "age": 25,
    "city": "New York",
    "profession": "Engineer",
    "hobby": "Photography"
}

print(person["name"])  
print(person["hobby"])  
print(person.get("age"))  
for key, value in person.items():
    print(f"{key}: {value}")

Alice
Photography
25
name: Alice
age: 25
city: New York
profession: Engineer
hobby: Photography

In [13]:
#DAY-2
# tuple
animals = ("lion", "tiger", "elephant", "giraffe", "zebra")
print(animals[0])  
print(animals[-1])  
print(animals[1:4])

lion
zebra
('tiger', 'elephant', 'giraffe')

In [17]:
# Day 3
a = float(input("Enter marks for Subject 1: "))
b = float(input("Enter marks for Subject 2: "))
c = float(input("Enter marks for Subject 3: "))

avg = (a + b + c) / 3

if avg >= 90:
    result = "A"
elif 80 <= avg < 90:
    result = "B"
elif 70 <= avg < 80:
    result = "C"
else:
    result = "Fail"

print(f"Grade: {result}")

Enter marks for Subject 1:  82
Enter marks for Subject 2:  80
Enter marks for Subject 3:  75

Grade: C

In [35]:
d={101:4,102:7,'B':2}
d

{101: 4, 102: 7, 'B': 2}

In [1]:
# Day 4
def sum_of_even_numbers(n):
    if n < 1:
        return 0
    total = 0
    for num in range(2, n + 1, 2):
        total += num
   
    return total
try:
    n = int(input("Enter a positive integer: "))
    if n < 1:
        print("Please enter a positive integer greater than 0.")
    else:
        result = sum_of_even_numbers(n)
        print(f"The sum of all even numbers between 1 and {n} is: {result}")
except ValueError:
    print("Invalid input! Please enter a positive integer.")

Enter a positive integer:  3

The sum of all even numbers between 1 and 3 is: 2

In [5]:
#Day 5
# 1
n = int(input("Enter a positive integer: "))
if n <= 0:
    print("Please enter a positive integer greater than 0.")
else:
    print("Numbers from 1 to", n, ":")
    for i in range(1, n + 1):
        print(i)
    total_sum = 0
    count = 1
    while count <= n:
        total_sum += count
        count += 1

    print("The sum of numbers from 1 to", n, "is:", total_sum)

Enter a positive integer:  6

Numbers from 1 to 6 :
1
2
3
4
5
6
The sum of numbers from 1 to 6 is: 21

In [7]:
#Day  5
# 2
def calculate_square(n):
    return n ** 2
def main():
    try:
        n = int(input("Enter a positive integer: "))
        if n <= 0:
            print("Error: Please enter a positive integer greater than 0.")
        else:
            result = calculate_square(n)
            print(f"The square of {n} is: {result}")
    except ValueError:
        print("Error: Invalid input. Please enter a valid positive integer.")
if __name__ == "__main__":
    main()

Enter a positive integer:  5

The square of 5 is: 25

In [1]:
#Day 6
import pandas as pd
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}

df = pd.DataFrame(data)

# Display the DataFrame
print("DataFrame:")
print(df)

DataFrame:
    Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000
2    Bob   23  Marketing   35000
3  Diana   29    Finance   50000

In [1]:
# Day 6 
#2 
import pandas as pd
data = {
    "Name": ["John", "Alice", "Bob", "Diana"],
    "Age": [28, 34, 23, 29],
    "Department": ["HR", "IT", "Marketing", "Finance"],
    "Salary": [45000, 60000, 35000, 50000]
}
df = pd.DataFrame(data)
print("First 2 rows:\n", df.head(2))
df['Bonus'] = df['Salary'] * 0.10
print("\nDataFrame with Bonus:\n", df)
print("\nAverage Salary:", df['Salary'].mean())
print("\nEmployees older than 25:\n", df[df['Age'] > 25])

First 2 rows:
     Name  Age Department  Salary
0   John   28         HR   45000
1  Alice   34         IT   60000

DataFrame with Bonus:
     Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
2    Bob   23  Marketing   35000  3500.0
3  Diana   29    Finance   50000  5000.0

Average Salary: 47500.0

Employees older than 25:
     Name  Age Department  Salary   Bonus
0   John   28         HR   45000  4500.0
1  Alice   34         IT   60000  6000.0
3  Diana   29    Finance   50000  5000.0