In [3]:
y='MallA Reddy,2025'
y

'MallA Reddy,2025'

In [5]:
len(y)

16

In [14]:
def functionname( parameter):
    block of code
    return output

SyntaxError: invalid syntax (1811266111.py, line 2)

In [32]:
def calArea(r):
    a=3.14*r*r
    return a

In [34]:
calArea(r=10)

314.0

In [36]:
w=calArea(r=10)
w

314.0

In [38]:
type(w)

float

In [40]:
w+10

324.0

In [42]:
a=print('India')
a

India

In [44]:
type(a)

NoneType

In [52]:
def aor(l,w):
    area=l*w
    return area

In [54]:
aor(10,5)

50

In [61]:
aor(l=10,w=5)

50

In [79]:
def aear(rad,length,width):
    aoc=3.14*rad*rad
    aor=length*width
    return aoc,aor

In [81]:
aear(rad=10,length=30,width=40)

(314.0, 1200)

In [83]:
y=6,8,2
y

(6, 8, 2)

In [85]:
t='HyderabAAd 500008 Telangana'
t

'HyderabAAd 500008 Telangana'

In [97]:
 def countA(x):
     d=x.lower()
     return d.count('a')

In [111]:
countA(t)

6

In [117]:
def count_num_alpha(x):
    c=0
    d=0
    for i in x:
        if i.isalpha():
            c+=1
        elif i.isnumberic():
            d+=1
            return{'Number of alphabets':c,'Number of digits':d}

In [119]:
count_num_alpha(t)

AttributeError: 'str' object has no attribute 'isnumberic'