In [1]:
!pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\kella\anaconda3\lib\site-packages (0.23.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\kella\anaconda3\lib\site-packages (from mlxtend) (1.13.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\kella\anaconda3\lib\site-packages (from mlxtend) (1.26.4)
Requirement already satisfied: pandas>=0.24.2 in c:\users\kella\anaconda3\lib\site-packages (from mlxtend) (2.2.2)
Requirement already satisfied: scikit-learn>=1.3.1 in c:\users\kella\anaconda3\lib\site-packages (from mlxtend) (1.5.1)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\kella\anaconda3\lib\site-packages (from mlxtend) (3.9.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\kella\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: packaging>=20.0 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (24.1)
Requirement already satisfied: pillow>=8 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\kella\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\kella\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\kella\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3)
Requirement already satisfied: threadpoolctl>=3.1.0 in c:\users\kella\anaconda3\lib\site-packages (from scikit-learn>=1.3.1->mlxtend) (3.5.0)
Requirement already satisfied: six>=1.5 in c:\users\kella\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)

In [2]:
import numpy as np 
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [11]:
data=[
    ['milk','bread','butter','jam'],
    ['milk','cola','jam'],
    ['bread','jam','butter'],
    ['milk','diapers','bread','jam'],
    ['milk','cola','beer'],
    ['milk','bread','butter'],
    ['bread','jam','butter','beer'],
]

In [13]:
from  mlxtend.preprocessing import TransactionEncoder

In [15]:
te=TransactionEncoder()
df=te.fit(data).transform(data)

In [18]:
df

array([[False,  True,  True, False, False,  True,  True],
       [False, False, False,  True, False,  True,  True],
       [False,  True,  True, False, False,  True, False],
       [False,  True, False, False,  True,  True,  True],
       [ True, False, False,  True, False, False,  True],
       [False,  True,  True, False, False, False,  True],
       [ True,  True,  True, False, False,  True, False]])

In [24]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori,association_rules
import warnings
warnings.filterwarnings('ignore')

In [56]:
titanic=pd .read_csv(r"C:\Users\kella\OneDrive\Documents\datasets\Titanic.csv")
titanic

     Class  Gender    Age Survived
0      3rd    Male  Child       No
1      3rd    Male  Child       No
2      3rd    Male  Child       No
3      3rd    Male  Child       No
4      3rd    Male  Child       No
...    ...     ...    ...      ...
2196  Crew  Female  Adult      Yes
2197  Crew  Female  Adult      Yes
2198  Crew  Female  Adult      Yes
2199  Crew  Female  Adult      Yes
2200  Crew  Female  Adult      Yes

[2201 rows x 4 columns]

In [58]:
titanic["Class"].unique()

array(['3rd', '1st', '2nd', 'Crew'], dtype=object)

In [60]:
titanic["Class"].value_counts()

Class
Crew    885
3rd     706
1st     325
2nd     285
Name: count, dtype: int64

In [62]:
titanic["Gender"].unique()

array(['Male', 'Female'], dtype=object)

In [64]:
titanic["Gender"].value_counts()

Gender
Male      1731
Female     470
Name: count, dtype: int64

In [66]:
titanic["Age"].unique()

array(['Child', 'Adult'], dtype=object)

In [68]:
titanic["Age"].value_counts()

Age
Adult    2092
Child     109
Name: count, dtype: int64

In [70]:
titanic["Survived"].unique()

array(['No', 'Yes'], dtype=object)

In [76]:
titanic["Survived"].value_counts()

Survived
No     1490
Yes     711
Name: count, dtype: int64

 # Data pre-Processing

In [84]:
df=pd.get_dummies(titanic,dtype='int')
df.head()

,Class_1st,Class_2nd,Class_3rd,Class_Crew,Gender_Female,Gender_Male,Age_Adult,Age_Child,Survived_No,Survived_Yes
0,0,0,1,0,0,1,0,1,1,0
1,0,0,1,0,0,1,0,1,1,0
2,0,0,1,0,0,1,0,1,1,0
3,0,0,1,0,0,1,0,1,1,0
4,0,0,1,0,0,1,0,1,1,0

# Apriori Algorithm

In [97]:
frequent_itemsets = apriori(df, min_support=0.5,use_colnames=True)
frequent_itemsets

    support                               itemsets
0  0.786461                          (Gender_Male)
1  0.950477                            (Age_Adult)
2  0.676965                          (Survived_No)
3  0.757383               (Gender_Male, Age_Adult)
4  0.619718             (Survived_No, Gender_Male)
5  0.653339               (Survived_No, Age_Adult)
6  0.603816  (Survived_No, Gender_Male, Age_Adult)

In [95]:
titanic.shape[0]

2201